<div id="blk-section" *ngFor="let addr of address; let i = index">
    <div class="blk-addr mb-3 pt-3 pb-3" [ngClass]="{'blk-saved':i == 0}">
    <div class="row mr-0 ml-0">
            <div class="col">
            <h4 class="addr-label mb-4">{{addr.label}}</h4>
            <section class="addr-details">
                <p class="m-0 p-0">{{addr.address.street}}</p>
                <p class="m-0 p-0">{{addr.address.postal_code}} {{addr.address.separator}} {{addr.address.city}} </p>
                <p class="m-0 p-0">{{addr.address.country}}</p>
            </section>
        </div>
        <div class="col" *ngIf="i == 0">                
                <p class="icn-tick"><img  width="14" height="11" src="assets/images/tick.png" title="tick"></p>
                <a href="javascript" class="icn-edit"><img  width="18" height="18" src="assets/images/editwhite.png" title="edit"></a>
        </div>
        <div class="col" *ngIf="i == 1">
                <a href="javascript" class="icn-edit"><img  width="18" height="18" src="assets/images/edit.png" title="edit"></a>
        </div>
    </div>
</div>